<!DOCTYPE html>
<html lang="en">
<%- include('../partials/_head.ejs') %>
<body>
<%- include('../partials/_header.ejs') %>
<main role="main" class="container mt-5">
    <h2>Search Results</h2>
    <div>
        <% if(players.length > 0) { %>
            <% players.forEach(function(player) { %>
                <div class="card mb-3">
                    <div class="card-body">
                        <h5 class="card-title">Name: <%- player.name %></h5>
                        <p class="card-text">Position: <%- player.position %></p>
                        <p class="card-text">City: <%- player.city %></p>
                        <p class="card-text">State: <%- player.state %></p>
                        <p class="card-text">Country: <%- player.country %></p>
                        <p class="card-text">Height: <%- player.height %> cm</p>
                        <p class="card-text">GPA: <%- player.GPA %></p>
                        <p class="card-text">Age: <%- player.age %></p>
                        <% if(player.highlightVideoLink) { %>
                            <p class="card-text"><a href="<%- player.highlightVideoLink %>" target="_blank">Highlight Video</a></p>
                        <% } %>
                    </div>
                </div>
            <% }) %>
        <% } else { %>
            <p>No results found.</p>
        <% } %>
    </div>
</main>
<%- include('../partials/_footer.ejs') %>
</body>
</html>